:root {
    color-scheme: light dark;
}
a, a:visited {
    color: #0000FF;
}
@media (prefers-color-scheme: dark) {
    body {
        color: #CCCCCC;
        background-color: #181A1B;
    }
    a, a:visited {
        color: #68A9F8;
    }
}
